<html>
<head>
<title>enter record</title>
</head>
<body>
<form method="POST" action="/entry">
roll: <br>
<input type="text" name="roll"/></br>
name: <br>
<input type="text" name="name" /></br>
co: <br>
<input type="text" name="co" /></br>
stats: </br>
<input type="text" name="stats" /></br>
rdbms: </br>
<input type="text" name="rdbms" /></br>
ds: </br>
<input type="text" name="ds" /></br>
fnm: </br>
<input type="text" name="fnm" /></br>
 <input type="submit"/>
</form>
</body>
</html>