<!DOCTYPE html>
<html>
<head>
	<title>demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>want 75% attandence</title>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/style2.css">
</head>
<body>
	<div class="mx-auto mb-3 mt-3" style="width:150px" id="firstCol">Aman Kumar 055</div>
		<div class="container">
		<div class="table-responsive">
		<table class="table table-hover">
    <thead>
      <tr>
        <th>Lecture_Name</th>
        <th>Total classes</th>
        <th>No. of classes attend.</th>
        <th>Attendance %ge </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CO</td>
        <td>100</td>
        <td>98</td>
        <td>98%</td>
      </tr>
      <tr>
        <td>Stats</td>
        <td>100</td>
        <td>99</td>
        <td>99%</td>
      </tr>
      <tr>
        <td>DS</td>
        <td>100</td>
        <td>100</td>
        <td>100%</td>
      </tr>
      <tr>
      	<td>RDBMS</td>
      	<td>100</td>
      	<td>97</td>
      	<td>97%</td>
      </tr>
      <tr>
      	<td>RDBMS-L</td>
      	<td>100</td>
      	<td>97</td>
      	<td>97%</td>
      </tr>
      <tr>
      	<td>DS-L</td>
      	<td>100</td>
      	<td>97</td>
      	<td>97%</td>
      </tr>
      <tr>
      	<td>FNM</td>
      	<td>100</td>
      	<td>97</td>
      	<td>97%</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<div class="mx-auto mb-3 mt-3" style="width:150px" id="secondCol">You need</div>
</div>
</body>
</html>