<!DOCTYPE html>
<html>
<head>
	<title>To set a table</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>want 75% attandence</title>
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/assets/style3.css">
</head>
<body>
	<header class="header" id="intro">
		<nav class="navbar">
			<div class="container">
				<div class="brand-and-toggler">
					<a href="index.html" class="navbar-brand">
						Parsova
					</a>
					<button type="button" class="navbar-toggler" id="navbar-toggler">
						<i class="fas fa-bars"></i>
					</button>
				</div>
				<div class="navbar-collapse">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="#aboutus" class="nav-link">About us</a>
						</li>
						<li class="nav-item">
							<a href="#feature" class="nav-link">Services</a>
						</li>
						<li class="nav-item">
							<a href="#team" class="nav-link">Team</a>
						</li>
						<li class="nav-item">
							<a href="#testimonial" class="nav-link">Clients</a>
						</li>
						<li class="nav-item">
							<a href="#testimonial" class="nav-link">Contact us</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class = "hero-div center container">
			<!-- <h1>we make your website stand out</h1> -->
			<h2 id="header-title">Construnction is an art of building dreams.construnction is an art of building dreams</h2>
			<p class = "animate__animated animate__fadeInUp animate__slow" id="header-content">Our principal focus is developing and executing projects for Mining, Metallurgical and process industries.Our principal focus is developing and executing projects for Mining, Metallurgical and process industries.</p>
	
			<div class = "hero-btns animate__animated animate__fadeInUp animate__slow">
			  <button type = "button" class = "btn-trans">vist to learn more</button>
			</div>
		  </div>
		
	</header>
</body>
</html>